.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .to-do {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
    border: 2px solid #000;
  }
  
  input {
    width: 100%;
  }
  
  table,
  th {
    border: 1px solid black;
  }  